{% load static %}
<!-- Mobile Navbar -->
<nav class="fixed top-0 left-0 right-0 z-50 flex items-center justify-between px-6 py-4 bg-neutral-900/80 backdrop-blur-md md:hidden shadow-inset-white rounded-full m-3">
  <a href="{% url 'index' %}">
    <img src="{% static 'logo_banner.svg' %}" alt="Re-Dcrypt Logo" class="h-6" width="auto" height="auto"/>
  </a>
  <button id="mobile-menu-button" class="p-2 rounded-lg flex flex-col justify-between h-[1.87rem]">
    <span class="block w-6 h-0.5 bg-neutral-100 transition-transform origin-center"></span>
    <span class="block w-6 h-0.5 bg-neutral-100 transition-transform origin-center"></span>
  </button>
</nav>

<!-- Mobile Menu Dropdown -->
<div id="mobile-menu" class="fixed inset-x-0 top-[76px] bg-neutral-900/80 transform -translate-y-[150%] transition-transform duration-500 ease-in-out backdrop-blur-md z-40 md:hidden rounded-3xl m-4 shadow-inset-white">
  <div class="flex flex-col px-6 py-6">
    <nav class="flex flex-col space-y-4">
      <a href="{% url 'leaderboard' %}" class="text-neutral-100 font-bold hover:text-neutral-200 py-2 text-left">Leaderboard</a>
      <a href="{% url 'rules' %}" class="text-neutral-100 font-bold hover:text-neutral-200 py-2 text-left">Rules</a>
      <a href="{% url 'about' %}" class="text-neutral-100 font-bold hover:text-neutral-200 py-2 text-left">About</a>
    </nav>
    <div class="flex flex-col space-y-2 mt-4">
      <a href="{% url 'account_login' %}" class="text-center font-black transition-all ease-in duration-75 hover:bg-neutral-300 bg-neutral-200 text-black rounded-full px-4 py-2">Login</a>
      <a href="{% url 'account_signup' %}" class="text-center font-black transition-all ease-in duration-75 bg-green-600 hover:bg-green-800 text-white rounded-full px-4 py-2">Signup</a>
    </div>
  </div>
</div>

<!-- Desktop Navigation -->
<div class="w-full fixed top-0 hidden items-start justify-center z-30 md:flex">
  <header
    class="text-neutral-400 body-font w-2/3 bg-neutral-950/60 mx-auto mt-4 rounded-full backdrop-blur-lg shadow-inset-white px-3 py-1"
  >
    <div class="container mx-auto flex p-4 items-center justify-between">
      <!-- Left Nav -->
      <nav class="flex-1 flex justify-start items-center gap-5">
        <a
          href="{% url 'leaderboard' %}"
          class="{% if url_name == 'leaderboard' %}text-neutral-100{% else %}text-neutral-100{% endif %} hover:text-neutral-200 font-bold"
          >Leaderboard</a
        >
        <a
          href="{% url 'rules' %}"
          class="{% if url_name == 'rules' %}text-neutral-100{% else %}text-neutral-100{% endif %} hover:text-neutral-200 font-bold"
          >Rules</a
        >
        <a
          href="{% url 'about' %}"
          class="{% if url_name == 'about' %}text-neutral-100{% else %}text-neutral-100{% endif %} hover:text-neutral-200 font-bold"
          >About</a
        >
      </nav>

      <!-- Center Logo -->
      <div class="flex-none flex justify-center">
        <a href="{% url 'index' %}">
          <img src="{% static 'logo_banner.svg' %}" alt="Re-Dcrypt Logo" width="auto" height="auto" class="h-6" />
        </a>
      </div>

      <!-- Right Side -->
      <div class="flex-1 flex justify-end items-center gap-3">
        <a href="{% url 'account_login' %}">
          <span
            class="px-5 py-1.5 transition-all ease-in duration-75 hover:bg-neutral-300 font-black bg-neutral-200 text-black rounded-full"
          >
            Login
          </span>
        </a>
        <a href="{% url 'account_signup' %}">
          <span
            class="px-5 py-1.5 transition-all ease-in duration-75 bg-green-600 font-black hover:bg-green-800 text-white rounded-full"
          >
            Signup
          </span>
        </a>
      </div>
    </div>
  </header>
</div>
