{% extends "base.html" %}
{% load i18n %}
{% block head_title %}
  {{ urlname }}
{% endblock head_title %}
{% block head %}
  <style>
.stylized-quote {
  position: relative;
  padding: 1rem 3rem;
}

.stylized-quote::before,
.stylized-quote::after {
  position: absolute;
  font-size: 4rem;
  line-height: 1;
  opacity: 0.2;
  transition: all 0.3s ease;
  font-family: serif;
  color: #08B74F;
}

.stylized-quote::before {
  content: '"';
  left: 0;
  top: -1rem;
}

.stylized-quote::after {
  content: '"';
  right: 0;
  bottom: -2rem;
}

.stylized-quote:hover::before,
.stylized-quote:hover::after {
  opacity: 0.5;
  transform: scale(1.2);
  color: #08B74F;
}

iframe {
  border-radius : 0.5rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
  </style>
{% endblock head %}
{% block content %}
  <div class="container mx-auto px-4 md:py-8 pb-8">
    <div class="max-w-2xl mx-auto" data-aos="fade-up" data-aos-duration="800">
      <div class="text-center mb-8">
        <div class="w-20 h-20 mx-auto rounded-full bg-green-600/20 flex items-center justify-center mb-6">
          <i class="ph-bold ph-link-simple text-4xl text-green-500"></i>
        </div>
        <h1 class="text-4xl font-black text-neutral-100">{{ urlname }}</h1>
      </div>
      <div class="bg-neutral-900/70 backdrop-blur-md shadow-inset-white rounded-2xl p-8 transform transition duration-300 hover:scale-[1.01]">
        <div class="stylized-quote">
          <div class="text-neutral-50 font-black text-2xl max-w-none">{{ content | safe }}</div>
        </div>
      </div>
      <div class="flex justify-center mt-8 gap-2 flex-col md:flex-row">
        <a href="/"
           class="bg-neutral-900/70 shadow-inset-white hover:bg-green-600 text-neutral-100 hover:text-neutral-50 font-bold py-3 px-6 rounded-xl transition-all duration-300 flex items-center gap-3">
          <i class="ph-fill ph-house"></i>
          <span>Return Home</span>
        </a>
        {% if user.is_authenticated %}
          <a href="{% url 'play' %}"
             class="bg-neutral-900/70 shadow-inset-white hover:bg-green-600 text-neutral-100 hover:text-neutral-50 font-bold py-3 px-6 rounded-xl transition-all duration-300 flex items-center gap-3">
            <i class="ph-fill ph-game-controller"></i>
            <span>Continue Playing</span>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}
